#wood related
public-f net.minecraft.world.item.AxeItem f_150683_
#flammable blocks
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V
#card cooldowns
public net.minecraft.world.item.ItemCooldowns f_41515_
#seed crossbow
public net.minecraft.world.item.CrossbowItem m_40914_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Lnet/minecraft/world/entity/projectile/AbstractArrow;
public net.minecraft.world.item.CrossbowItem m_40941_(Lnet/minecraft/world/item/ItemStack;)Ljava/util/List; # getChargedProjectiles
public net.minecraft.world.item.CrossbowItem m_220023_(Lnet/minecraft/util/RandomSource;)[F # getShotPitches
public net.minecraft.world.item.CrossbowItem m_40905_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;)V # onCrossbowShot
public net.minecraft.world.item.CrossbowItem m_40928_(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)V
public net.minecraft.world.item.CrossbowItem m_40853_(ILnet/minecraft/world/item/ItemStack;)F
#butter rendering
public net.minecraft.client.model.geom.ModelPart f_104212_
public net.minecraft.client.model.geom.ModelPart f_104213_
public net.minecraft.client.model.geom.ModelPart m_104290_(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;IIFFFF)V
public net.minecraft.client.model.QuadrupedModel f_103492_
public net.minecraft.client.gui.Gui m_168708_(Lnet/minecraft/resources/ResourceLocation;F)V
#mob effect particle
public net.minecraft.client.renderer.LevelRenderer m_109795_(Lnet/minecraft/core/particles/ParticleOptions;ZDDDDDD)Lnet/minecraft/client/particle/Particle;
#gatling recoil
public net.minecraft.world.entity.Entity f_19858_
public net.minecraft.world.entity.Entity f_19857_
public net.minecraft.client.renderer.entity.player.PlayerRenderer m_117794_(Lnet/minecraft/client/player/AbstractClientPlayer;Lnet/minecraft/world/InteractionHand;)Lnet/minecraft/client/model/HumanoidModel$ArmPose;
#attribute modifier searching
public net.minecraft.world.entity.ai.attributes.AttributeInstance f_22090_