#wood related
public-f net.minecraft.world.item.AxeItem f_150683_
#bootstap
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V
public net.minecraft.world.level.block.ComposterBlock m_51920_(FLnet/minecraft/world/level/ItemLike;)V
#card cooldowns
public net.minecraft.world.item.ItemCooldowns f_41515_
public net.minecraft.world.item.ItemCooldowns f_41516_
public net.minecraft.world.item.ItemCooldowns$CooldownInstance
public net.minecraft.world.item.ItemCooldowns$CooldownInstance <init>(II)V
public net.minecraft.world.item.ItemCooldowns$CooldownInstance f_41534_
public net.minecraft.world.item.ItemCooldowns$CooldownInstance f_41533_
#ender seed bundle
public-f net.minecraft.world.InteractionResultHolder f_19085_ # object
#seed crossbow
public net.minecraft.world.item.CrossbowItem m_40914_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Lnet/minecraft/world/entity/projectile/AbstractArrow;
public net.minecraft.world.item.CrossbowItem m_40941_(Lnet/minecraft/world/item/ItemStack;)Ljava/util/List; # getChargedProjectiles
public net.minecraft.world.item.CrossbowItem m_220023_(Lnet/minecraft/util/RandomSource;)[F # getShotPitches
public net.minecraft.world.item.CrossbowItem m_40905_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/item/ItemStack;)V # onCrossbowShot
public net.minecraft.world.item.CrossbowItem m_40928_(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)V
public net.minecraft.world.item.CrossbowItem m_40853_(ILnet/minecraft/world/item/ItemStack;)F
#client model rendering
public net.minecraft.client.model.geom.ModelPart f_104212_
public-f net.minecraft.client.model.geom.ModelPart f_104213_
public net.minecraft.client.model.geom.ModelPart m_104290_(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;IIFFFF)V
public net.minecraft.client.multiplayer.ClientLevel m_142646_()Lnet/minecraft/world/level/entity/LevelEntityGetter; # getEntities
public net.minecraft.client.model.QuadrupedModel f_103493_ # body
public net.minecraft.client.model.QuadrupedModel f_170855_ # leftFrontLeg
public net.minecraft.client.model.QuadrupedModel f_170853_ # leftHindLeg
public net.minecraft.client.model.QuadrupedModel f_170854_ # rightFrontLeg
public net.minecraft.client.model.QuadrupedModel f_170852_ # rightHindLeg
public net.minecraft.client.model.QuadrupedModel f_103492_ # head
public net.minecraft.client.gui.Gui m_168708_(Lnet/minecraft/resources/ResourceLocation;F)V
public net.minecraft.client.model.AgeableListModel f_102010_ # babyHeadScale
public net.minecraft.client.model.AgeableListModel f_170338_ # babyYHeadOffset
public net.minecraft.client.model.AgeableListModel f_170339_ # babyZHeadOffset
public net.minecraft.client.model.AgeableListModel f_102007_ # scaleHead
#mob effect particle
public net.minecraft.client.renderer.LevelRenderer m_109795_(Lnet/minecraft/core/particles/ParticleOptions;ZDDDDDD)Lnet/minecraft/client/particle/Particle;
#gatling recoil
public net.minecraft.world.entity.Entity f_19858_
public net.minecraft.world.entity.Entity f_19857_
public net.minecraft.client.renderer.entity.player.PlayerRenderer m_117794_(Lnet/minecraft/client/player/AbstractClientPlayer;Lnet/minecraft/world/InteractionHand;)Lnet/minecraft/client/model/HumanoidModel$ArmPose;
#attribute modifier searching
public net.minecraft.world.entity.ai.attributes.AttributeInstance f_22090_
#gamerule
public net.minecraft.world.level.GameRules$IntegerValue m_46312_(I)Lnet/minecraft/world/level/GameRules$Type;
public net.minecraft.world.level.GameRules$BooleanValue m_46250_(Z)Lnet/minecraft/world/level/GameRules$Type;
#vallina bug fix
public net.minecraft.world.entity.monster.Slime$SlimeAttackGoal
public net.minecraft.world.entity.monster.Slime$SlimeMoveControl
public-f net.minecraft.world.entity.monster.Slime$SlimeAttackGoal f_33645_
#render bug
public net.minecraft.client.renderer.LevelRenderer f_109464_ # renderBuffers
#potion
public net.minecraft.world.item.alchemy.PotionBrewing m_43513_(Lnet/minecraft/world/item/alchemy/Potion;Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/alchemy/Potion;)V
#duck lifebuoy
public net.minecraft.world.entity.ai.navigation.PathNavigation f_26507_
public net.minecraft.world.entity.ai.navigation.PathNavigation f_26496_
#gargantuar
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer f_117070_
#zombie
public-f net.minecraft.world.entity.monster.Zombie$ZombieGroupData f_34354_ # isBaby
public-f net.minecraft.world.entity.monster.Zombie$ZombieGroupData f_34355_ # canSpawnJockey
#shulker
public net.minecraft.world.entity.monster.Shulker m_33468_()Z # isClosed
#damage source
public-f net.minecraft.world.damagesource.EntityDamageSource f_19391_ # entity
public-f net.minecraft.world.damagesource.IndirectEntityDamageSource f_19404_ # owner
#sleeping
public net.minecraft.world.entity.LivingEntity m_21334_()Z # checkBedExists
#riding
public net.minecraft.world.entity.Entity f_19851_
#penny screen
public net.minecraft.client.gui.screens.inventory.MerchantScreen f_99117_ # shopItem
public net.minecraft.client.gui.screens.inventory.MerchantScreen f_99118_ # tradeOfferButtons
public net.minecraft.client.gui.screens.inventory.MerchantScreen f_99119_ # scrollOff
public net.minecraft.client.gui.screens.inventory.MerchantScreen$TradeOfferButton

#model
public-f net.minecraft.client.model.geom.ModelPart f_104212_ # cubes
public-f net.minecraft.client.model.HumanoidModel f_102808_ # head
public net.minecraft.client.model.HumanoidModel m_5607_()Ljava/lang/Iterable; # headParts
#particle
public net.minecraft.client.particle.Particle f_107205_ # stoppedByCollision

#data gen
public net.minecraft.data.loot.EntityLoot f_124368_
#structure
public net.minecraft.world.level.levelgen.structure.pieces.StructurePieceType m_210155_(Lnet/minecraft/world/level/levelgen/structure/pieces/StructurePieceType$StructureTemplateType;Ljava/lang/String;)Lnet/minecraft/world/level/levelgen/structure/pieces/StructurePieceType; # setTemplatePieceId